<div class="flex">
    <div class="flex-column width100">
        <div class="margin-top-1em">{{#link-to "new-lead"}}Новая заявка{{/link-to}}</div>
        {{#if Core.administration}}
            <div class="margin-top-1em">{{#link-to "user-admin"}}Администрирование пользователей{{/link-to}}</div>
        {{/if}}
        <div class="margin-top-3em">Отчет с {{input type="date" value=reportFrom}} по {{input type="date" value=reportTo}} </div>
    </div>
</div>
<table class="report-table">
    <tbody>
        {{#each reportData as |data|}}
            <tr>
                <td class="first-td-report-table">{{data.type}}</td>
                <td>{{data.qty}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>