<div class="flex-column">
    <div>
        №{{model.номер}}
    </div>
    <div>
        Клиент: {{model.клиент_descr}}
    </div>
    <div>
        Адрес осмотра: {{model.адресосмотра}}
    </div>
</div>