<div {{action "close"}} class="message-box {{if show 'show'}}">
    <div class="message-box-caption">
        <div class="message-box-caption-text">{{caption}}</div>
    </div>
    <div style="padding: 5px 0 0 5px;">
        {{text}}
    </div>
</div>