<div class="margin-top-1em flex">
    <div class="vertical-center">Количество выданных папок за день:</div>
    {{input classNames="margin-left-1em max-width-4em" value=foldersCount}}
    <button class="margin-left-1em" {{action "saveData"}}>Сохранить</button>
</div>